h1 {
    color: pink;
    font-family: roboto;
    text-align: center;
}

#soincheveux {
    color: blue;
}

#skincare {
    color: blueviolet;
}

dd {
    font-size: 1.5em;
}

body {
    background-color: burlywood;
}